@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@600;700&family=Roboto:100,300,400,500,700&display=swap");

* {
  box-sizing: border-box
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

* {
  box-sizing: border-box
}

body {
  font-family: 'Roboto', sans-serif;
  background: #19202a
}

header {
  /* position: absolute; */
  /* z-index: 3; */
  padding: 15px;
  display: -ms-flexbox;
  display: flex;
  /* width: 100%; */
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1b1b1b;
}

@media only screen and (max-width: 560px) {
  header {
    display: block;
    text-align: center;
    width: 100%
  }
}

header .logo {
  width: 200px
}

@media only screen and (max-width: 560px) {
  header .logo {
    display: none;
    margin: 0 auto;
    margin-bottom: 2rem
  }
}

header .logo img {
  width: 100%
}

header nav {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}

header nav a {
  color: #f40007;
  text-decoration: none;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.35rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 0 12px;
  transition: all .3s ease-in-out
}

header nav a:hover {
  color: #fff;
}

@media only screen and (max-width: 560px) {
  header nav a {
    font-size: 1.2rem;
    padding: 5px
  }
}

#top-section {
  position: relative;
  height: 100vh
}

@media only screen and (max-width: 560px) {
  #top-section {
    display: block
  }
}

#top-section .floating-img {
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2
}

#top-section .tekashi-img {
  width: 30%
}

@media only screen and (max-width: 1023px) {
  #top-section .tekashi-img {
    width: 50%
  }
}

@media only screen and (max-width: 560px) {
  #top-section .tekashi-img {
    width: 60%
  }
}

#top-section .tekashi-img img {
  width: 100%;
  filter: contrast(150%)
}

#bio {
  display: -ms-flexbox;
  display: flex;
  background: #000;
  position: relative;
  z-index: 3;
  padding: 100px 0
}

#bio .container {
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  #bio .container {
    display: block;
    text-align: center
  }
}

#bio .container p {
  color: #fff;
  line-height: 1.8;
  font-size: 1rem;
  width: 50%;
  padding: 50px
}

@media only screen and (max-width: 1024px) {
  #bio .container p {
    width: 100%
  }
}

/* #bio .container .logo-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  padding: 50px
}
 */
/* @media only screen and (max-width: 1024px) {
  #bio .container .logo-centered {
    display: block;
    text-align: center;
    width: 100%
  }
} */

/* #bio .container .logo-centered img {
  width: 100%;
  justify-content: center;
} */

/* @media only screen and (max-width: 1024px) {
  #bio .container .logo-centered img {
    width: 100%
  }
} */

#media {
  background-image: url("https://wallpaperaccess.com/full/893128.jpg");
  padding: 100px 0;
  background-size: cover
}

#media .container {
  max-width: 1400px;
  margin: 0 auto
}

#media .title {
  background: black;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: white
}

@media only screen and (max-width: 560px) {
  #media .title {
    width: 80%
  }
}

#media .videos {
  padding: 80px 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  grid-gap: 50px;
  -ms-flex-pack: center;
  justify-content: center
}

@media only screen and (max-width: 1023px) {
  #media .videos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
  }
}

#media .video {
  border-radius: 4px;
  overflow: hidden;
  hieght: 300px;
  box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.75)
}

#media .video iframe {
  hieght: 100%
}

#music {
  padding: 80px 0;
  position: relative;
  height: 100%
}

#music .blurredbg {
  background: #ef0404;
  background: linear-gradient(45deg, #ef0404 5%, #1c161a 47%, #6d6d6d 50%, #6d6d6d 50%, #6d0019 94%);
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(40px) saturate(130%);
  position: absolute;
  z-index: 1
}

#music .container {
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
  position: relative;
  z-index: 3
}

@media only screen and (max-width: 1023px) {
  #music .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr)
  }
}

@media only screen and (max-width: 767px) {
  #music .container {
    display: block;
    text-align: center
  }
}

#music .container .info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  -ms-flex-align: center;
  align-items: center;
  color: white
}

@media only screen and (max-width: 1023px) {
  #music .container .info {
    display: block;
    width: 100%;
    margin-bottom: 15px
  }
}

@media only screen and (max-width: 767px) {
  #music .container .info {
    display: block;
    width: 100%;
    margin-bottom: 15px
  }
}

@media only screen and (max-width: 560px) {
  #music .container .info {
    margin-left: 0
  }
}

#music .container .info .title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px
}

@media only screen and (max-width: 1023px) {
  #music .container .info .title {
    margin-bottom: 15px;
    margin-top: 5rem
  }
}

@media only screen and (max-width: 767px) {
  #music .container .info .title {
    margin-top: 5rem
  }
}

#music .container .info .sub-title {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px
}

@media only screen and (max-width: 767px) {
  #music .container .info .sub-title {
    font-size: 1.4rem;
    margin-bottom: 100px
  }
}

#music .container .info .singles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  width: 400px;
  justify-items: center;
}

#music .container .info .singles li {
  padding: 10px;

}

@media only screen and (max-width: 1023px) {
  #music .container .info .singles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 6rem 0
  }
}

@media only screen and (max-width: 767px) {
  #music .container .info .singles {
    display: block;
    width: 100%;
    margin-bottom: 5rem
  }
}

/* #music .container .info .singles li {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px
} */

/* #music .container .info .logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  width: 100%
} */

/* @media only screen and (max-width: 1023px) {
  #music .container .info .logos {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr)
  }
}

#music .container .info .logos li .tidal {
  width: 100%
}

@media only screen and (max-width: 1023px) {
  #music .container .info .logos li .tidal {
    width: 80%
  }
}

@media only screen and (max-width: 1023px) {
  #music .container .info .logos li img {
    width: 80%
  }
}

@media only screen and (max-width: 767px) {
  #music .container .info .logos li img {
    width: 50%
  }
}

@media only screen and (max-width: 560px) {
  #music .container .info .logos li img {
    width: 70%
  }
}

@media only screen and (max-width: 767px) {
  #music .container .info .logos li .tidal {
    width: 70%
  }
}

@media only screen and (max-width: 767px) {
  #music .container .info .logos {
    display: block
  }
} */

#music .album-cover {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center
}

@media only screen and (max-width: 1023px) {
  #music .album-cover {
    width: 100%
  }
}

@media only screen and (max-width: 767px) {
  #music .album-cover {
    width: 100%;
    margin-bottom: 15px
  }
}

#music .album-cover img {
  width: 50%
}

@media only screen and (max-width: 1023px) {
  #music .album-cover img {
    width: 60%
  }
}

@media only screen and (max-width: 767px) {
  #music .album-cover img {
    width: 100%
  }
}

#tour {
  background: black;
  position: relative;
  z-index: 4
}

#tour .top-img {
  background-image: url("https://qprime.com/wp-content/uploads/2016/09/tdgqpsite.png");
  height: 591px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: saturate(0) contrast(150%)
}

#tour .tour-dates {
  background: black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3rem
}

#tour .tour-dates .title {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 50px 0
}

#tour .tour-dates .dates {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  grid-gap: 20px;
  margin-bottom: 80px
}

@media only screen and (max-width: 560px) {
  #tour .tour-dates .dates {
    display: block
  }
}

@media only screen and (max-width: 960px) {
  #tour .tour-dates .dates {
    padding: 68px
  }
}

#tour .tour-dates .dates li {
  color: white;
  font-size: 1.3rem
}

@media only screen and (max-width: 560px) {
  #tour .tour-dates .dates li {
    margin-bottom: 2rem
  }
}

#tour .tour-dates .dates .city {
  font-weight: 700
}

#tour .tour-dates .dates .location {
  font-weight: 300
}

#tour .tour-dates .dates .date {
  font-weight: 700;
  color: #f40007
}

footer {
  background: #1b1b1b;
  position: relative;
  z-index: 4;
  padding: 25px;
  text-align: center;
  color: white
}

footer img {
  max-width: 200px;
  margin-bottom: 10px
}

footer a {
  text-decoration: none;
  color: #f40007;
  font-weight: 700;
  font-size: 1.1rem
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}